<div>
  <br>
  <br>
  <h1 class="font-bold text-4xl">ADMINISTRATION OF PAPERS WITH UNIQUE IDENTIFICATION</h1>
  <br>
  <h2> Take control of papers like forms, certificates, records, or reports, which it's identified with a unique number, TGUIDE helps you.</h2> 
  <h2> When delivering this paper to a person is registered on the app, assigning the status  "delivered" automatically. Upon receiving, the status is changed "received". <h2>
  <br>
  <% content_tag(:div, "", data: {
	controller: "track"
	})%>
</div>
