<div>
  <br>
  <br>
  <h1 class="font-bold text-4xl"><%= t(:home_title) %></h1>
  <br>
  <h2> <%= t(:home_p1l1) %> </h2> 
  <h2> <%= t(:home_p1l2) %> <h2>
  <br>
  <% content_tag(:div, "", data: {
	controller: "track"
	})%>
</div>
